.scene {
    width: 100%;
    height: 100vh;
    perspective: 800px;
    /* margin: 100px auto; */
    --mainWidth:45vw;
    --space:40px;
    /* --mainZ:calc(var(--mainWidth)/2 + (var(--space)));
    --halfMainWidthPow:pow(var(--mainWidth)/2,2);
    --mainZPow:calc(pow(var(--mainZ),2));
    --subWidth:calc((var(--space))*sqrt(2));
    --edgeZPow:calc(var(--mainZPow) + var(--halfMainWidthPow));
    --subZ:calc(sqrt(var(--edgeZPow)-pow(var(--subWidth)/2,2))); */
  }
  
  .cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    /* transition: transform 1s; */
    /* transform: rotateY(45deg); */
    outline: 1px solid magenta;
  }
  
  .face {
    position: absolute;
    width: var(--subWidth);
    height: 50vh;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    top: 25%;
    left: 47%;
    /* transform: translate(-50%,-50%); */
  }

  .mainFace{
    position: absolute;
    width: var(--mainWidth);
    height: 50vh;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    top: 25%;
    left: 28%;
    color: black;
  }
  
  /* 8つの側面を45度ずつ回転して配置 */
.side2 { transform: rotateY(0deg) translateZ(var(--mainZ)) }
.side4 { transform: rotateY(90deg) translateZ(var(--mainZ)) }
.side6 { transform: rotateY(180deg) translateZ(var(--mainZ)) }
.side8 { transform: rotateY(270deg) translateZ(var(--mainZ)) }



.side1 { transform: rotateY(45deg) translateZ(var(--subZ)); }
.side3 { transform: rotateY(135deg) translateZ(var(--subZ)); }
.side5 { transform: rotateY(225deg) translateZ(var(--subZ)); }
.side7 { transform: rotateY(315deg) translateZ(var(--subZ)); }
  

